.CFUserTextEncoding
.DS_Store
.bash_history
.bash_profile
.bash_sessions
.bashrc
.gitconfig
.sogouinput
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.viminfo
Applications
Desktop
Documents
Downloads
Library
Movies
Music
OneDrive
Pictures
Public
.ShadowsocksX
.config
.octave_hist
.vim/.netrwhist
.vim/plugged/
